<div class="jumbotron">
  <h1 class="display-5">{{user._id}}. {{user.firstName}} {{user.lastName}}({{user.profession}})</h1>
  <p class="lead">{{user.bio}}</p>
  <hr class="my-4">
  <p>
    username: {{user.username}}
  </p>
  <a class="btn btn-primary btn-md" href="/logout" role="button">Logout</a>
</div>